@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Lato:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Chivo Mono, sans-serif; 
    font-weight: 300;
    color: #2a2a2a;   
}
/* headings and logo */
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #352165;
}
#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
}
#menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu, #logo { 
    line-height: 75px;

}
#menu a:hover {
    border-bottom: 1px solid #352165;

}
.active {
    border-bottom: 1px solid #352165;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-cottonbro-studio-5801566.jpg) no-repeat center center;

 /*creates animation when page is loaded */
 animation-name: hero-zoom;
 animation-duration: 5s;
 animation-fill-mode: forwards;
}


/* creates the level of zoom for the hero image */

@keyframes hero-zoom {
    from {
        transform: scale(.95);

    }
    to {
        transform: scale(1.09);
    }
}
#cover-text {
    font-size: 110%;
    font-family: Chivo Mono, sans-serif;
    text-transform: uppercase;

    width: 250px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgb(220, 179, 179, .5) ;

    bottom: 30px;
    right: 150px;

    position: absolute;
}
/* club-ethos */

#hi {
    text-align: center;
    font-size: 250%;
    margin:  10px 50px ;

}

#club-ethos {
    height: 600px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    box-decoration-break: slice;
    border-collapse: separate;
    border-radius: 50%;
    margin:  50px 50px ;
    
}
#welcome {
    text-align: center;
    font-size: 250%;
    margin:  10px 50px ;

}

#activities  div {
   display:flexbox;
   flex-direction: column;
    border-radius: 50%;
    width: 33%;
    height: 200px;
    padding: 30px 30px;
}