@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&family=Lato:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Chivo Mono, sans-serif; 
    font-weight: 300;
    color: #2a2a2a;   
}
/* headings and logo */
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #352165;
}
#logo {
    float: left;
    font-size: 250%;
}